@page
@model WindowsServerDnsUpdater.Pages.IndexModel

@{
    ViewData["Title"] = "Главная страница";
}

<div class="container">
    <h1>DNS Updater</h1>
    <p>Это главная страница API. Используйте /api/dnsupdate для обновления DNS записей.</p>
    @if (Model.LogLines.Count > 0)
    {
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Level</th>
                    <th>Сообщение</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in Model.LogLines)
                {
                    var bgcolor = string.Empty;
                    switch (line.Level.ToUpper())
                    {
                        case "ERROR":
                            bgcolor = "table-danger";
                            break;
                        case "INFO":
                        default: break;
                    }

                    <tr class="@bgcolor">
                        <td>@line.Time</td>
                        <td>@line.Level</td>
                        <td>
                            @line.Message<br />
                            @line.Exception
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Файл лога пуст или не существует.</p>
    }
</div>