@page
@model WindowsServerDnsUpdater.Pages.IndexModel

@{
    ViewData["Title"] = "Windows Server DNS Updater";
}

<div class="container">
    
    <p>Данная приложение решает 2 задачи:</p>
    <ul>
        <li>Обновляет Windows DNS Server данными от DHCP сервера микротика, поскольку родного механизма нет, а есть только варианты через костыли.</li>
        <li>Автоматически добавляет в VPN тоннель поддомены сайтов, которые блокируют пользователей из России.</li>
    </ul>
    <p>Механизм работы описан на странице <a asp-page="/About">О программе</a>.</p>
    <p><b>API:</b> Используйте /api/dnsupdate для обновления DNS записей.</p>
    @if (Model.LogLines.Count > 0)
    {
        <h3>Лог работы:</h3>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Level</th>
                    <th>Сообщение</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var line in Model.LogLines)
                {
                    var bgcolor = string.Empty;
                    switch (line.Level.ToUpper())
                    {
                        case "ERROR":
                            bgcolor = "table-danger";
                            break;
                        case "INFO":
                        default: break;
                    }

                    <tr class="@bgcolor">
                        <td>@line.Time</td>
                        <td>@line.Level</td>
                        <td>
                            @line.Message<br />
                            @line.Exception
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Файл лога пуст или не существует.</p>
    }
</div>